.jumbotron {
  background-color: #007bff;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.app-icon {
  font-size: 75px;
}

.btn {
  background-color: #fff;
  border: 2px solid;
  border-color: #fff;
  color: #007bff;
  padding: 0px 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #007bff;
  color: #fff;
}

.alertsize {
  text-align: center;
  color: #e67067;
  font-size: 2%;
  padding-top: 1em;
  padding-bottom: 0px;
}
