.jumbotron {
  background-color: #007bff;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.app-icon {
  font-size: 75px;
}

.btn {
  background-color: #fff;
  border: 2px solid;
  border-color: #fff;
  color: #007bff;
  padding: 0px 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #007bff;
  color: #fff;
}

.alertsize {
  text-align: center;
  color: #e67067;
  font-size: 2%;
  padding-top: 1em;
  padding-bottom: 0px;
}
.filters {
  align-items: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: auto;
}
.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.filt {
  color: #007bff;
}

[data-theme="compact"]
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
  border: solid #007bff;
  overflow: hidden;
}

/* Styling Cards */

.flip-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  border: #007bff;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
}
